* {
  margin: auto;
  padding: 0;
}
.outercircle {
  background-color: black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
}
.outercircle:hover {
  animation: shake 0.8s ease-in;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.8em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  7%,
  100% {
    transform: translate(0);
  }
}
.innercircle {
  background-color: white;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  position: absolute;
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
  font-size: 90px;
}
