* {
  margin: auto;
  padding: 0;
  font-family: "Comfortaa", cursive;
}
body {
  background-color: rgb(154, 183, 209);
  overflow: hidden;
}
.container {
  margin-top: 500px;
  margin-bottom: 200px;
}
.outercircle {
  background-color: black;
  height: 250px;
  width: 250px;
  border-radius: 50%;
  position: relative;
}
.outercircle:hover {
  animation: shake 0.8s ease-in;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.8em);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2em);
  }
  7%,
  100% {
    transform: translate(0);
  }
}
.innercircle {
  background-color: white;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  position: absolute;
  margin-top: 60px;
  margin-left: 60px;
  text-align: center;
  font-size: 90px;
}

.reveal {
  background-color: white;
  margin-top: 20px;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadeIn 1.2s both;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

form {
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: fadeIn 1.5s both;
}
#answers {
  background-color: antiquewhite;
  display: flex;
  /* margin-top: 300px; */
  /* margin-bottom: 100px; */
  justify-content: center;
  gap: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#randomPic {
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

img {
  height: 350px;
  width: 350px;
  object-fit: cover;
}
.response {
  color: white;
  inline-size: 500px;
  overflow-wrap: break-word;
}
.reset {
  overflow: hidden;
  margin-top: 20px;
  height: 70px;
  border-radius: 50%;
}
/* if the width is not larger than X width*/
@media (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
  .reveal {
    font-size: 20px;
    width: 60%;
    text-align: center;
  }
  label {
    margin-left: 30px;
  }
  #answers {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
  }

  .content {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .response {
    width: 350px;
    object-fit: cover;
  }
  .reset {
    margin-top: 50px;
    width: 20%;
    align-self: center;
  }
}
